<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <title>Add movie</title>
</head>
<body>
    <div id="topbar">
        <div class="title">MovieApp</div>
        <div class="menu">
            <a href="/movielist" class="item">Movies</a>
            <a href="/watchlist" class="item">Watches</a>
            <a href="/genrelist" class="item">Genres</a>
            <a href="/addmovie" class="item">Add movie</a>
            <a href="/addwatch" class="item">Add watch</a>
            <a href="/addgenre" class="item selected">Add genre</a>
            <a href="/apipage" class="item">API</a>
        </div>
        <div id="user-container">
            <span class="username" sec:authentication="name"></span>
            <form th:action="@{/logout}" method=
            "post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

    <div id="content">
        <h1>Add genre</h1>

        <form action="#" th:action="@{/savegenre}" th:object="${genre}" method="post">
            <table>
                <tr>
                    <td>Title: <input type="text" th:field="*{name}" /> </td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>
                </tr>
            </table>
            <br><br>
            <input type="submit" value="Save new genre"  />
        </form>
    
    </div>
    
</body>
</html>