<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <title>Add movie</title>
</head>
<body>
    <div id="topbar">
        <div class="title">MovieApp</div>
        <div class="menu">
            <a href="/movielist" class="item">Movies</a>
            <a href="/watchlist" class="item">Watches</a>
            <a href="/addmovie" class="item selected">Add movie</a>
            <a href="/addwatch" class="item">Add watch</a>
        </div>
        <div id="user-container">
            <span class="username" sec:authentication="name"></span>
            <form th:action="@{/logout}" method=
            "post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

    <div id="content">
        <h1>Add movie</h1>


        <form action="#" th:action="@{/savemovie}" th:object="${movie}" method="post">
            <table>
                <tr>
                    <td>Title: <input type="text" th:field="*{title}" /> </td>
                    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</td>
                </tr>
              
                <tr>
                    <td>Release year: <input type="text" th:field="*{releaseYear}"/> </td>
                    <td th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}">Error</td>
                </tr>
            </table>
            
            <br><br>
            <input type="submit" value="Save new movie"  />
        </form>
    
                <!--
            <label for="category-list">Movie tags:</label>
            <select id="category-list" th:field="*{category}">
                <option th:each="category: ${categories}" 
                        th:value="${category.categoryid}" 
                        th:text="${category.name}">
                </option>
            </select>
            -->
        
    </div>
    
</body>
</html>