<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <title>Add watch</title>
</head>
<body>
    <div id="topbar">
        <div class="title">MovieApp</div>
        <div class="menu">
            <a href="/movielist" class="item">Movies</a>
            <a href="/watchlist" class="item">Watches</a>
            <a href="/addmovie" class="item">Add movie</a>
            <a href="/addwatch" class="item selected">Add watch</a>
        </div>
        <div id="user-container">
            <span class="username" sec:authentication="name"></span>
            <form th:action="@{/logout}" method=
            "post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

    <div id="content">
        <h1>Add watch</h1>


        <form action="#" th:action="@{/savewatch}" method="post" th:object="${watch}">
            <table>
                <tr>
              
                    <td>Date: <input type="date" placeholder="dd.mm.yyyy" th:field="*{date}" /></td>
                    <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Error</td>
                    
                </tr>
    
                <tr>
                    <td>
                        <label for="movie-list">Movie:</label>
                        <select id="movie-list" th:field="*{movie}">
                            <option th:each="movie: ${movies}" 
                                    th:value="${movie.movieid}" 
                                    th:text="${movie.title}">
                            </option>
                        </select>
                    </td>
                </tr>
    
                <tr>
                    <td>
                        Comment: <input type="text" th:field="*{comment}" style="width: 300px;"  />
                    </td>
                </tr>
            </table>
    
            <br><br>
            <input type="submit" value="Save new watch"  />
        </form>
    </div>
   
    
</body>
</html>