<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <title>Watches</title>
</head>
<body>
    <div id="topbar">
        <div class="title">MovieApp</div>
        <div class="menu">
            <a href="/movielist" class="item">Movies</a>
            <a href="/watchlist" class="item">Watches</a>
            <a href="/genrelist" class="item selected">Genres</a>
            <a href="/addmovie" class="item">Add movie</a>
            <a href="/addwatch" class="item">Add watch</a>
            <a href="/addgenre" class="item">Add genre</a>
            <a href="/apipage" class="item">API</a>
        </div>
        <div id="user-container">
            <span class="username" sec:authentication="name"></span>
            <form th:action="@{/logout}" method=
            "post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

    <div id="content">
        <h1>Genres</h1>

        <a href="/addgenre" class="btn btn-success">Add genre</a> 

        <table class="table table-striped">
            <tr>
                <th>name</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
            </tr>
    
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.name}"></td>
        
                <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{deletegenre/{id} (id=${genre.genreid})}" class="btn btn-danger">Delete</a> </td>
                <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{editgenre/{id}(id=${genre.genreid})}" class="btn btn-primary">Edit genre</a> </td>
            </tr>
        </table>
    
      

    </div>
    
    
</body>
</html>