<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}" />
    <title>Watches</title>
</head>
<body>
    <div id="topbar">
        <div class="title">MovieApp</div>
        <div class="menu">
            <a href="/movielist" class="item">Movies</a>
            <a href="/watchlist" class="item selected">Watches</a>
            <a href="/addmovie" class="item">Add movie</a>
            <a href="/addwatch" class="item">Add watch</a>
        </div>
        <div id="user-container">
            <span class="username" sec:authentication="name"></span>
            <form th:action="@{/logout}" method=
            "post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

    <div id="content">
        <h1>Watches</h1>

        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Movie</th>
                <th>Comment</th>
                <th sec:authorize="hasAuthority('ADMIN')"></th>
                <th></th>
            </tr>
    
            <tr th:each="watch : ${watches}">
                <td th:text="${watch.date}"></td>
                <td th:text="${watch.movie.title}"></td>
                <td th:text="${watch.comment}"></td>
        
                <td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{deletewatch/{id} (id=${watch.watchid})}" class="btn btn-danger">Delete</a> </td>
                <td><a th:href="@{editwatch/{id}(id=${watch.watchid})}" class="btn btn-primary">Edit watch</a> </td>
            </tr>
        </table>
    
        <a href="/addwatch" class="btn btn-success">Add a new watch</a> 

    </div>
    
    
</body>
</html>